@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --primary: #000000;
    --secondary: #FCF7F7;
    --accent: #128BB5;
    --background: #DEB522;
}

body {
    background-color: var(--background);
    margin: 0;
}

h1 {
    margin-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: var(--primary);
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: var(--primary);
    margin-top: -10px;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: var(--primary);
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-radius: 8px;
    background-color: var(--secondary);
    padding: 80px;
    margin: 20px auto;
}

.input-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--primary);
    margin-top: 20px;
    margin-bottom: 10px;
}

.input-field {
    width: 500px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.accent-button {
    background-color: var(--accent);
    color: var(--secondary);
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

#table-container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: var(--secondary);
    border-radius: 8px;
    padding: 20px;
}

#table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 40px;
}

.green-button {
    background-color: #60BF5E;
    color: var(--secondary);
    border: none;
    padding: 13px 23px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.red-button {
    background-color: var(--secondary);
    color: #FF7C7C;
    border: 3px solid #FF7C7C;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    text-align: center;
}

th {
    background-color: var(--accent);
    color: var(--secondary);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #cccccc;
}

td {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #cccccc;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary);
}

.form-container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: var(--secondary);
}

.radio-container {
    width: 545px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.radio-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--primary);
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}